<%= link_to edit_story_scene_path(scene.story, scene), remote: true do %>
  <div class="scene" id="scene-<%=scene.id%>">
    <h3><%= scene.title %></h3>
    <p><%= scene.get_desc(140) %></p>

    <% if scene.endgame%>
      <p class="no-choices"><strong>ENDGAME</strong></p>
    <% end %>
    <% if scene.choices.any? %>
      <p><strong>choices:</strong></p>
    <% else %>
      <p><strong>no choices</strong></p>
    <% end %>

    <ul class="choices">
      <% scene.get_choices(3).each do |choice| %>
        <li><%= choice.text %></li>
      <% end %>
      <% if scene.choices.length > 3 %>
        <li><strong>more choices</strong></li>
      <% end %>
    </ul>
  </div>
<% end %>
