<div class="card" style="background-color: rgb(<%= rand(200) %>,<%= rand(205) %>,<%= rand(205) %>)">
  <h3><%= data.title %></h3>
  <p><%= data.short_desc %></p>
  <span class="user-name">by <%= data.account.name%></span>
</div>
