<div class="card" style="background-color: rgb(<%= rand(215) %>,<%= rand(215) %>,<%= rand(215) %>)">
  <h3><%= data.title %></h3>
  <p><%= data.description %></p>
  <span class="user-name">by alfred the undying</span>
</div>
