<div class="card" id="card-<%=data.id%>" style="background-color: <%= data.color%>">
  <h3><%= data.title %></h3>
  <p><%= data.short_desc %></p>
  <span class="user-name">by <%= data.account.name %></span>
</div>
