<%= link_to "x", hide_edit_path, id: 'close', remote: true%>
<h3>you are editing '<%= story.title.downcase%>'</h3>
<div id="errors"></div>
<span class="metrics">
  visibility <span id="publicity"><%= link_to story.publicity, toggle_publicity_path(story), remote: true %></span>
  views <%= story.plays %>
</span>
<span id="delete"><%= link_to "delete", account_story_path(story.account, story), method: :delete, remote: true %></span>

<%= form_for [story.account, story], remote: true do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description, size: "60x10" %><br>
  <%= f.submit "save"%>
<% end %>
<%= link_to "start story", account_story_path(story.account, story) %>
