<h3>this is the page where you make a story</h3>
<%= form_for [@user, @story] do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title %>
  <%= f.label :description%>
  <%= f.text_field :description %>
  <%= f.submit "create"%>
<% end %>
